/*.mainBoard{
    width: 600px;
    height: 600px;
    background-color: #9ccff4;
    margin: auto;
    position: absolute;
}*/

#mainScreen{
    width: 600px;
    height: 600px;
    margin: auto;
}

.windowArea{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*
img{
    width: 10%;
    position: relative;
    top: 0;
    left: 0;
}*/